<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<title> <!--  --> </title>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'wish_list/css/itemStyle.css' %}">
		<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' ></script>
		<script type="text/javascript">	
			$(document).ready(function(){
			});
		</script>
	</head>
	<body>
		<div id="topBanner">
			<h1>{{ item.name }}</h1>	<!-- fix this -->
			<div id="topButtons">
				<form action="/dashboard" class="topButton">
					<input type="submit" class="redButton" name="home" value="Home">
				</form>
				<form action="/logout" class="topButton" method="post">
					{% csrf_token %}
					<input type="submit" class="postButton" name="logout" value="Logout">
				</form>
			</div>
		</div>

		<h3>Users who added this product/item under their wish list:</h3>

		<div id="users">
			{% for user in users %}
				<p>{{ user.name }}</p>
			{% endfor %}
		</div>


		{% if messages %}
			{% for message in messages %}
				<p>{{ message }}</p>
			{% endfor %}
		{% endif %}
	</body>
</html>

<!--  -->





