<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<title> <!--  --> </title>
		{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'login_registration/css/succStyle.css' %}">
		<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' ></script>
		<script type="text/javascript">	
			$(document).ready(function(){
			});
		</script>
	</head>
	<body>
		<form action="/logout" method="post">
			{% csrf_token %}
			<input type="submit" id="logout" name="logout" value="logout">
		</form>
		{% if messages %}
			{% for message in messages %}
				<p>{{ message }}</p>
			{% endfor %}
		{% endif %}
	</body>
</html>

<!--  -->





